.poll ion-checkbox {
  --border-radius: 50%;
  --size: .5rem;
  --border-color-checked: var(--primary);
  --border-color-width: 1px;
}
.poll ion-radio {
  height: .5rem;
  width: .5rem;
}
.poll ion-radio .radio-icon {
  border-width: 1px;
}
.poll ion-radio:checked .radio-icon {
  border-color: var(--primary);
}
.poll ion-item {
  --background: var(--foreground);
  --background-hover: transparent;
  --inner-padding-end: 0;
  --padding-start: 0;
}
