ion-popover.gallery {
  --width: 100vw;
  --max-width: 100vw;
  --height: 100vh;
  --max-height: 100vh;
  --background: transparent;
  --box-shadow: none;
}

ion-popover.gallery .popover-content {
  left: 0 !important;
  top: 0 !important;
  bottom: 0;
  right: 0;
  position: fixed;
}
