.login-layout form {
  max-height: calc(100% - 9.5rem);
}
.login-layout ion-item {
  --background: trasparent;
}
.login-layout ion-input,
.login-layout ion-textarea
 {
  --placeholder-color: var(--text-secondary);
  --padding-start: 0;
  --padding-end: 0;
  --color: var(--text-secondary);
}
@media all and (max-width: 767px) {
  .login-layout {
    justify-content: flex-end;
  }
}