@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700&display=swap');

:root {
  --background: #F6F6F6;
  --foreground: #FFF;
  --background-accented: #F1F5F8;
  --background-login: radial-gradient(82.4% 65.23% at 50% 34.77%, #24334B 0%, #1A2735 100%);
  --error: #EF5753;
  --success: #0D7E03;
  --primary: #2E86DE;
  --primary-focused: #2779BD;
  --primary-background: rgba(46, 134, 222, 0.1);
  --header: #4B4B4B;
  --text: #494949;
  --text-secondary: #8A8A8A;
  --border: #C9C9C9;
  --border-secondary: #F1F5F8;
  --icon-light: #E8E8E8;
  --note: #818181;
  --logo: #4B4B4B;
  --logo-login: #FFF;
  --overlay-opacity: 0.3;
  --message-background: #E8E8E8;
  --own-message-background: #576574;
  --reaction-background: #F1F1F1;
  --own-reaction-background: rgba(46, 134, 222, 0.1);
  --avatar-group-size: 39px;
  --avatar-size: 26px;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
}

.dark {
  --background: #121212;
  --foreground: #222222;
  --background-accented: #343434;
  --primary: #579EE4;
  --primary-focused: #2E86DE;
  --primary-background: #579EE4;
  --text: #e1e1e1;
  --text-secondary: #8A98A7;
  --logo: #e1e1e1;
  --message-background: #8A98A7;
  --input-background: transparent;
  --border-secondary: #8A98A7;
}

/* colors theme */
.background {
  background: var(--background);
}
.foreground {
  background: var(--foreground)
}
.background-error {
  background-color: var(--error);
}
.background-success {
  background-color: var(--success);
  color: #FFF;
}
.background-login {
  background: var(--background-login);
}
.header {
  color: var(--header);
}
.text {
  color: var(--text);
}
.text-secondary {
  color: var(--text-secondary);
}
.text-highlighted:hover {
  color: var(--primary-focused);
}
.text-accented {
  color: var(--background);
}
.link {
  color: var(--primary);
}
.link:hover {
  color: var(--primary-focused);
}
.link-navbar {
  color: var(--text-secondary);
}
.link-navbar:focus {
  color: var(--primary-focused);
}
.link-navbar:hover {
  color: var(--primary-focused);
}
.link-navbar.active {
  color: var(--primary);
}
.link-menu {
  border-right-color: var(--primary);
  border-right-width: 2px;
}
.note {
  color: var(--note);
}
.error{
  color: var(--error);
}
.button-primary {
  background-color: var(--primary);
  color: var(--background);
}
.button-primary:hover {
  background-color: var(--primary-focused);
}
.button-inline:hover {
  background-color: var(--background-accented);
}
.button-outline {
  color: var(--icon-light);
  border: 1px solid var(--icon-light);
}
.button-outline:hover {
  border-color: var(--primary);
  background-color: var(--primary);
  color: var(--background);
}
.button-outline:hover:disabled {
  background-color: rgba(0, 0, 0, var(--overlay-opacity));
  border-color: rgba(0, 0, 0, var(--overlay-opacity));
}
.button-inline:hover .text-highlighted {
  color: var(--primary-focused);
}
.button-error {
  background: var(--error);
  color: var(--background);
}
.border-primary {
  border-color: var(--border);
}
.border-secondary {
  border-color: var(--border-secondary);
}
.border-dark {
  border-color: var(--text);
}
.border-error {
  border-color: var(--error);
}
.border-highlighted {
  border-color: var(--primary);
}
.logo {
  color: var(--logo);
}
.logo-login {
  color: var(--logo-login);
}
.overlay {
  background: rgba(0, 0, 0, var(--overlay-opacity))
}
.input-border {
  border-color: var(--primary);
}
.progress-bar {
  background: var(--primary);
  opacity: .15;
}
.icon-light {
  color: var(--icon-light);
}
.icon-light:hover {
  color: var(--text);
}
.input {
  background: var(--input-background);
}
.input-secondary-border {
  border-color: var(--text-secondary);
}
.border-primary {
  border-color: var(--border);
}
.border-secondary {
  border-color: var(--border-secondary);
}
.border-error {
  border-color: var(--error);
}
/* end of color theme */


body {
  -webkit-transition: .3s all;
  -moz-webkit-transition: .3s all;
  transition: .3s all;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Nunito', sans-serif;
  background: var(--background);
}

.icon {
  -webkit-transition: stroke .2s ease;
  -moz-webkit-transition: stroke .2s ease;
  transition: stroke .2s ease;
}

.custom-emoji {
  max-width: 2rem;
  max-height: 2rem;
  vertical-align: middle;
  display: inline-block;
}

@keyframes loader-spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.a-loader-spin {
  animation: loader-spin 1.5s ease-in-out infinite;
}

@keyframes size-up-down {
  0% { transform: scale(1.0); }
  50% { transform: scale(1.75); }
  100% { transform: scale(1.0); }
}

.a-bloom {
  animation: size-up-down 0.5s ease-in-out 1;
}

@keyframes pop-out {
  from {
    height: 0;
    opacity: 0;
  } to {
    height: 2rem;
    opacity: 1;
  }
}

.pop-out {
  animation: pop-out .3s linear 1;
}

@responsive {
  .max-w-time {
    max-width: 4.375rem;
  }
}

.flex-1-4 {
  flex: 0.25% 1 0%;
}
.flex-1-3 {
  flex: 0.333% 1 0%;
}
.flex-1-2 {
  flex: 0.5% 1 0%;
}
.flex-1-1 {
  flex: 1% 1 0%;
}

.sidebar {
  width: 5rem !important;
  min-width: 5rem !important;
  flex: none !important;
  border: none !important;
}

ion-split-pane.split-pane-visible {
  background-color: var(--background) !important;
}

.menu-content--full-w {
  width: 100% !important;
}

.split-pane-md.split-pane-visible>.split-pane-main {
  border-right: none;
  max-width: 960px;
}

.popover-bottom:not(.select-popover) .popover-content {
  position: absolute;
  bottom: 0;
  top: auto !important;
  left: 0 !important;
  right: 0 !important;
  height: fit-content;
  margin: auto;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.popover-content.sc-ion-popover-md .sc-ion-label-md-h{
  padding: 0;
  font-size: .875rem;
  height: 2rem;
  margin: 0;
  white-space: normal;
  height: auto !important;
  line-height: 1.4rem !important;
}

.status-content a{
  color: var(--primary);
}

.status-content a:focus{
  color: var(--primary-focused);
}

ion-tab-bar {
  border-top-width: 1px;
  --border: var(--border);
}

ion-header.ion-header:after {
  content: none;
}
.searchbar-input.sc-ion-searchbar-md {
  border-radius: .5rem;
  box-shadow: none;
  padding: .31rem 1rem;
  color: var(--text);
  border: 1px solid var(--border);
}
@media screen and (min-width: 767px) {
  .searchbar-input.sc-ion-searchbar-md {
    border-radius: 0;
    border: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--border);
  }
}

ion-checkbox {
  --border-width: 1px;
  --border-color: var(--border);
  --checkmark-color: var(--primary);
}
.checkbox.item .sc-ion-label-md-h{
  white-space: normal;
}

ion-item {
  --color: var(--text);
}

.message {
  background: var(--message-background);
  color: var(--text);
}
.own-message {
  background: var(--own-message-background);
  color: var(--background);
}

.avatar-group {
  height: var(--avatar-group-size);
  width: var(--avatar-group-size);
}

.avatar {
  height: var(--avatar-size);
  width: var(--avatar-size);
}

ion-input input::selection {
  background: var(--primary);
}

.profile-card__banner {
  max-height: 11.42rem;
  min-height: 5rem;
}

/*
  To remove repeated patterns, todo: incorporate tailwindcss with postcss
  so we can do things like
  .page-header { @apply mt-0 md:mt-4 }
*/
.page-margin {
  margin-top: 1rem;
}
@media screen and (min-width: 767px) {
  .page-margin {
    margin-top: 0;
  }
}

.page-title {
  @apply cursor-pointer text-3xl leading-normal capitalize text
}
.login-btn {
  @apply button-primary rounded-lg py-2 px-4 mb-2 font-bold leading-tight w-full
}

/* Custom scrollbars */
/* Only use on large displays, phones often already hide scrollbars better */
@media screen and (min-width: 767px)
{
  /* Firefox */
  * {
    scrollbar-width: 12px;
    scrollbar-color: var(--icon-light) rgba(0, 0, 0, 0);
  }

  /* Works on Chrome/Edge/Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  *::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
  }
  *::-webkit-scrollbar-thumb {
    background-color: var(--icon-light);
    border-radius: 20px;
  }
}

ion-popover.autocomplete {
  --max-height: 30%;
  --box-shadow:  0px 1px 4px rgba(0, 0, 0, 0.1);
  --background: var(--ion-background-color);
  --width: 250px;
}
ion-popover.autocomplete .popover-content {
  z-index: 1;
}
ion-popover.autocomplete li:hover,
ion-popover.autocomplete .highlighted {
  background: var(--message-background);
}
ion-popover.autocomplete li:hover .profile-acct,
ion-popover.autocomplete .highlighted .profile-acct{
  color: var(--text);
}

ion-popover.emoji-picker {
  --width: 350px;
}

.recent-search {
  width: calc(100% - 6rem);
}

.mutes-blocks-search {
  width: calc(100% - 14rem);
  max-height: 50vh;
}

.two-state-toggle {
  --background: var(--success);
  --handle-background-checked: var(--foreground);
}

.emoji-panel {
  height: 300px;
}
emoji-picker {
  width: 100%;
  height: 100%;
}

emoji-picker .search-row {
  display: none;
}

.emoji-search-result h2 {
  font-family: "Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Twemoji Mozilla","Noto Color Emoji","EmojiOne Color","Android Emoji",sans-serif;
}

.reaction {
  border: 2px solid transparent;
  background-color: var(--reaction-background);
}
.own-reaction {
  border-color: var(--primary);
  background-color: var(--own-reaction-background);
}
.reaction-button {
  width: 19px;
  height: 19px;
}
.users-list-tooltip {
  max-height: 15.625rem;
  max-width: 15rem;
}
.tooltip-container {
  box-shadow:  0px 1px 4px rgba(0, 0, 0, 0.1);
}
